body {
  background: linear-gradient(90deg, #3654fa, #052453);
  font-family: Arial, sans-serif;
}

#title {
  font-weight: bold;
  font-size: 27px;
  background-color: rgb(233, 233, 233);
  border-radius: 10px;
  padding: 5px 0px 5px 15px;
}

#header-container {
  display: flex;
  justify-content: center;
}

/* Style the navigation bar */
.main-header h1 {
  margin: 0;
}

.main-nav {
  background: linear-gradient(45deg, #24ef31, #0de6c1);
  padding-top: 5px;
  height: 25px;
}

.main-nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.main-nav li {
  display: inline-block;
  margin-right: 20px;
}

.main-nav li:last-child {
  margin-right: 0;
}

.main-nav a {
  color: #4d1552;
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
  padding: 10px 15px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.main-nav a:hover {
  background-color: #3c7ddf;
}


/* Style the form */
.form-container {
  width: 50%;
  margin: 0 auto;
}

form {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
}

form label {
  font-weight: bold;
}

form input[type="text"],
form input[type="email"],
form textarea {
  width: 100%;
  padding: 8px;
  margin-top: 6px;
  margin-bottom: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

form input[type="submit"] {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

form input[type="submit"]:hover {
  background-color: #45a049;
}

/* Style for contact us text */
* {
  box-sizing: border-box;
}
:root {
  --background-color: black;
  --text-color: hsl(0, 0%, 100%);
}
body {
  margin: 0;
}
.wrapper {
  display: grid;
  place-content: center;
  background-color: var(--background-color);
  min-height: 100px;
  width: 700px; 
  margin-top: 10px;
  border-radius: 50px;
  font-family: "Oswald", sans-serif;
  font-size: clamp(1rem, 1rem + 4vw, 3rem);
  font-weight: 700;
  text-transform: uppercase;
  color: var(--text-color);
}

.wrapper > div {
  grid-area: 1/1/-1/-1;
}
.top {
  clip-path: polygon(0% 0%, 100% 0%, 100% 48%, 0% 58%);
}
.bottom {
  clip-path: polygon(0% 60%, 100% 50%, 100% 100%, 0% 100%);
  color: transparent;
  background: -webkit-linear-gradient(177deg, black 53%, var(--text-color) 65%);
  background: linear-gradient(177deg, black 53%, var(--text-color) 65%);
  background-clip: text;
  -webkit-background-clip: text;
  transform: translateX(-0.02em);
}

