body {
  background: linear-gradient(90deg, #1e61f3, #d9f346);
}
/* Style for header start */
#header-container {
  display: flex;
  justify-content: center;
}

#header {
  background-color: aliceblue;
  color: black;
  text-align: center;
  width: 40%;
  border-radius: 15px;
}
/* Style for header end */

/* Style for image */
img {
  height: 400px;
  width: 250px;
  float: right;
  margin: 10px 10px 10px 10px;
}
