body {
  background: linear-gradient(90deg, #1e61f3, #d9f346);
}
/* Style for header start */
#header-container {
  display: flex;
  justify-content: center;
}

#header {
  background-color: aliceblue;
  color: black;
  text-align: center;
  width: 40%;
  border-radius: 15px;
}
/* Style for header end */

/* Style for image */
img {
  height: 400px;
  width: 250px;
  float: right;
  margin: 10px 10px 10px 10px;
}

/* Style for navigation bar starts */
.main-nav {
  background: linear-gradient(45deg, #24ef31, #0de6c1);
  padding-top: 5px;
  height: 25px;
}

.main-nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.main-nav li {
  display: inline-block;
  margin-right: 20px;
}

.main-nav li:last-child {
  margin-right: 0;
}

.main-nav a {
  color: #b1a828;
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
  padding: 10px 15px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.main-nav a:hover {
  background-color: #3c7ddf;
}
/* Style for navigation bar end */
